workspace/
*.out*
.directory
venv*
.vscode
tmp

# Ignore actual .env file but allow sample files
.env
!.env.*.sample
!env.sample.txt

*.db
*.db.lock

## profiling outputs
*.speed

__pycache__

chainlit.md

node_modules/

logs/
logs/*
